ipykernel
pandas
dotenv
python-dotenv
pydantic
pymysql
psycopg2-binary 
pyodbc
sqlalchemy
langchain
langsmith
langgraph
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain_groq
langchain_experimental
langchain-together
together
streamlit
streamlit-ace
watchdog
